@charset "utf-8";
/* CSS Document */


/*=================================*/
#nan1{
		width:100%;
		height:55px;
		background: #F8F8F8;
		position:relative;
		margin-bottom: 60px;
	}
#nan1 .nanv{
			width: 1150px;
			margin: 0 auto;
			line-height: 55px;
			font-size: 14px;

		}
/*=============main=============================*/

#main{
		width: 990px;
		height: 408px;
		margin: 0 auto;
		position: relative;
			}
#main .main-l{
				float: left;
				width: 460px;
				height: 360px;
			}
#main .main-l img{
				width: 460px;
				height: 360px;
							}
#main .main-r{
			float: right;
			width: 345px;
			color: #4A4A4A;
			position:relative;
			font-size: 18px;
			display: inline;
			margin-right: 32px;
			margin-top: 15px;
			}
#main .main-r input{
	width: 200px;
	height: 34px;
	margin-bottom: 30px;
	
	
}
#main .main-r #phone1{	width: 193px;
						height: 34px;
						font-size:12px;
						color:#e74c3c;
						margin-left: 75px;
						line-height:56px;
					}
#main .main-r #photo{	width: 260px;
						height: 16px;
						font-size:12px;						
						color:#e74c3c;
						margin-top: -8px;
						display: block;
						line-height:38px;
					
					}
#main .main-r #phone2{	width: 20px;
						height: 20px;
						background:url(../images/icon_bg.png) no-repeat;
						background-position: -214px 0px;
						margin-top: 10px;
						background-size: auto 200px;
						position:absolute;
						top:40px;
						display:none;
						left:270px;
					}
#main .main-r #phone{
						width: 193px;
						height: 34px;
						margin-bottom:20px;
						margin-top:5px;
					}	
#main .main-r #name1{
	width: 200px;
    height: 34px;
    margin-bottom: 30px;	
	}							
#main .main-r input:nth-child(6){
					width: 260px;
					height: 34px;
					line-height: 34px;
					border-radius: 3px;
					outline: none;
					margin-bottom: 13px;
					font-size: 13px;
					background: #ffffff;
					text-indent: 6px;
					border: 1px solid rgb(231, 76, 60);	
				}
#main .main-r #password1{
								width: 200px;
								height: 34px;
								border: 1px solid #BEBDBB;
								line-height: 34px;
								border-radius: 3px;
								outline: none;
								margin-bottom: 13px;
								font-size: 13px;
								background: #ffffff;
								text-indent: 6px;
								}
#main .main-r #password2{
								width: 193px;
								height: 34px;
								border: 1px solid #BEBDBB;
								line-height: 34px;
								border-radius: 3px;
								outline: none;
								margin-bottom: 13px;
								font-size: 13px;
								background: #ffffff;
								text-indent: 6px;
								}
#main .main-r #submit{
						width: 260px;
						height: 36px;
						background: #e74c3c;
						color: white;
						border: none;
						border-radius: 5px;
						font-size: 14px;
						text-align: center;
						margin-top: 20px;
						line-height: 36px;
						font-weight: normal;
						}

#main .main-r #span{
					width: 115px;
					height: 15px;
					font-size: 12px;
					color: #e74c3c;
					font-weight: normal;														
					display: inline-block;
					}
#main .main-r #span2{
					width: 140px;
					height: 15px;
					font-size: 12px;
					color: #e74c3c;
					font-weight: normal;														
					display: inline-block;
					}
#main .main-r #sp1{ position:relative;}
#main .main-r #text{
					width: 193px;
					height: 34px;
					border: 1px solid #BEBDBB;
					line-height: 34px;
					border-radius: 3px;
					outline: none;
					margin-bottom: 13px;
					font-size: 13px;
					background: #ffffff;
					text-indent: 6px;
					}

#main .main-r #btn1{
						width: 70px;
						height: 36px;
						display: inline-block;
						border-radius: 3px;
						position: absolute;
						
						right: 70px;
					}

#main .main-r #denglu{
				font-size: 12px;
				color: #BEBDBB;
				margin-bottom: 20px;
				text-align: center;
				width: 268px;
			}
#main .main-r #denglu a{
					font-size: 12px;
					text-decoration: underline;
					cursor: pointer;
					color: #BEBDBB;
					}
#main .main-r h3{
				font-weight: normal;
				height: 18px;
				font-size: 13px;
				width: 260px;
				margin-top: 24px;
				text-align: center;
			}
#main .main-r h3 a{
					color: #e74c3c;
					line-height: 18px;
				}
#main .main-r a img{
					height: 14px;
					width: 14px;
					margin-left: 9px;
					margin-bottom: -2px;
					display: inline-block;
				}


